<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.service.proxy.CommodityProxy">
	<select id="typeList" resultType="java.util.Map">
		SELECT
			commodity_type_id typeId,
			commodity_type_name typeName
		FROM
			commodity_type
		WHERE
			del_flag = 1
		AND status = 1
		ORDER BY
			sort
	</select>
	
	<select id="listOfType" resultType="java.util.Map">
		SELECT
			commodity_info_id commodityId,
			commodity_title commodityTitle,
			commodity_synopsis commoditySynopsis,
			commodity_price commodityProce,
			commodity_cover_path coverPath
		FROM
			commodity_info
		WHERE
			commodity_type_id = #{typeId}
		AND commodity_title LIKE CONCAT('%', #{searchKey}, '%')
		AND del_flag = 1
		AND status = 1
	</select>
	
	<select id="info" resultType="java.util.Map">
		SELECT
			commodity_info_id commodityId,
			commodity_title commodityTitle,
			commodity_synopsis commoditySynopsis,
			commodity_price commodityProce,
			rotation_chart_paths rotationChartPaths,
			commodity_content commodityContent,
			(
				SELECT
					IFNULL(SUM(total), 0)
				FROM
					commodity_order
				WHERE
					commodity_info_id = commodity_info.commodity_info_id
				AND STATUS != 1
			) totalBuy
		FROM
			commodity_info
		WHERE
			commodity_info_id = #{commodityId}
		AND del_flag = 1
		AND status = 1
	</select>
	
	<insert id="buy" useGeneratedKeys="true" keyProperty="user.tempId">
		INSERT commodity_order (
			commodity_info_id,
			order_number,
			total,
			one_price,
			order_price,
			pay_type,
			receive_user_name,
			receive_user_tel,
			receive_address,
			user_id
		)
		SELECT 
			a.*,b.*,#{user.userId}
		FROM 
			(
				SELECT
					a.commodity_info_id,
					IFNULL((
						SELECT
							CONCAT(DATE_FORMAT(NOW(),'%Y%m%d'),LPAD(SUBSTR(MAX(order_number) FROM 9) +1,5,'0'))
						FROM
							commodity_order
						WHERE
							commodity_info_id = a.commodity_info_id
						AND DATE(create_time) = DATE(NOW())
					),CONCAT(DATE_FORMAT(NOW(),'%Y%m%d'),LPAD(1,5,'0'))),
					#{total} total,
					a.commodity_price,
					(a.commodity_price * #{total}) order_price,
					#{payType} payType
				FROM
					commodity_info a
				WHERE
					a.commodity_info_id = #{commodityId}
			) a
			LEFT JOIN (
				SELECT
					receive_user_name,
					receive_user_tel,
					CONCAT(province_name,city_name,district_name,receive_address)
				FROM
					user_receive_info
				WHERE
					user_receive_info_id = #{receiveId}
				AND user_id = #{user.userId}
			) b ON 1 = 1
	</insert>
	
	<update id="update">
		UPDATE 
			commodity_order
		SET 
			status = #{status}
		WHERE
			commodity_order_id = #{orderId}
	</update>
	
	<!-- ==============================================钻石相关============================================================= -->
	
	<update id="diamondsRecharge" >
		UPDATE 
			user
		SET 
			diamonds = diamonds + #{rechargeTotal}
		WHERE
			user_id = #{userId}
	</update>
	
	<insert id="userRecharge">
		INSERT INTO user_recharge (
			user_id,
			type,
			recharge_amount,
			diamonds_amount
		)
		VALUES
			(
				#{userId},
				1,
				#{cashTotal},
				#{rechargeTotal}
			)
	</insert>
	
	<select id="getDiamonds" resultType="java.util.Map">
		SELECT
			diamonds
		FROM
			user
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="diamondsCommodityList" resultType="java.util.Map">
		SELECT
			commodity_info_id commodityId,
			commodity_title commodityTitle,
			commodity_synopsis commoditySynopsis,
			commodity_price commodityProce,
			commodity_cover_path coverPath
		FROM
			commodity_info
		WHERE
			commodity_type_id = 0
		AND commodity_title LIKE CONCAT('%', #{searchKey}, '%')
		AND del_flag = 1
		AND status = 1
	</select>
	
	<select id="diamondsCommodityList" resultType="java.util.Map">
		SELECT
			a.commodity_order_id orderId,
			a.order_number orderCode,
			b.commodity_title commodityName,
			b.commodity_cover_path commodityCoverPath,
			DATE_FORMAT(a.create_time,'%Y-%m-%d %T') createTime,
			a.one_price onePrice,
			a.total,
			a.order_price orderPrice,
			a.status orderStatus,
			CASE a.status WHEN 1 THEN '未支付' WHEN 2 THEN '未收货' WHEN 3 THEN '已完成' END orderStatusStr
		FROM
			commodity_order a,
			commodity_info b
		WHERE
			a.commodity_info_id = b.commodity_info_id
		AND a.user_id = #{userId}
	</select>
	
	<select id="diamondsRechargelog" resultType="java.util.Map">
		SELECT
			case type 
				when 1 then '充值' 
				when 2 then '签到' 
				when 3 then '生日礼金' 
				when 4 then '分享' 
				when 5 then '资料完善' 
				when 6 then '连续签到满30天'
			end title,
			recharge_amount rechargeAmount,
			DATE_FORMAT(create_time,'%Y-%m-%d %T') rechargeTime
		FROM
			user_recharge
		WHERE 
			user_id = #{userId}
		ORDER BY
			create_time DESC
	</select>
</mapper>