<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.service.proxy.PlatformProxy">
	<select id="getUserByOpenId" resultType="com.project.service.entity.User">
		SELECT
			a.openid,
			b.user_id userId,
			b.name,
			b.nickname,
			b.sex,
			b.birthday,
			b.qq,
			b.id_card_number idCardNumber,
			b.mobile,
			b.is_safe isSafe,
			b.is_gp isGp,
			b.status
		FROM
			user_wx a
		LEFT JOIN USER b ON a.user_id = b.user_id
		WHERE
			a.openid = #{openId}
	</select>
	
	<insert id="createUserIdByOpenId" useGeneratedKeys="true" keyProperty="userId">
		INSERT user (name,nickname,sex)
		SELECT
			nickname,
			nickname,
			sex
		FROM
			user_wx
		WHERE
			openid = #{user.openId}
	</insert>
	
	<update id="updateUserWxUserId">
		UPDATE
			user_wx
		SET
			user_id = #{user.userId}
		WHERE
			openid = #{user.openId}
	</update>
	
	<select id="getCityList" resultType="java.util.Map">
		SELECT
			city_id cityId,
			city_name cityName,
			pinyin_all cityPinyin
		FROM
			region_city
		WHERE
			1 = 1
			<if test="type == 1">
				is_hot = 0
			</if>
		ORDER BY
			city_code
	</select>
	
	<select id="screeTeamForApply" resultType="java.util.Map">
		SELECT
			a.team_name teamName,
			a.team_info_id teamId
		FROM
			team_info a
		WHERE
			EXISTS (
				SELECT
					team_member_id
				FROM
					team_member
				WHERE
					team_info_id = a.team_info_id
				AND user_id = #{userId}
				AND role_type in (1,4)
				AND status = 1
			)
	</select>
	
	<select id="screeTeam" resultType="java.util.Map">
		SELECT
			b.team_info_id teamId,
			b.team_name teamName
		FROM
			match_join_team a,
			team_info b
		WHERE
			a.team_info_id = b.team_info_id
		AND match_info_id = #{matchInfoId}
		AND status = 1
	</select>
	
	<select id="screeMember" resultType="java.util.Map">
		SELECT
			a.team_member_id memberId,
			b.name memberName
		FROM
			match_join_user a,user b
		WHERE
			a.user_id = b.user_id
		AND a.status = 1
		AND a.team_info_id = #{teamId}
		AND a.match_info_id = #{matchInfoId}
	</select>
	
	<update id="diamondsRecharge" >
		UPDATE 
			user
		SET 
			diamonds = diamonds + #{rechargeTotal}
		WHERE
			user_id = #{userId}
	</update>
	
	<insert id="userRecharge">
		INSERT INTO user_recharge (
			user_id,
			type,
			diamonds_amount
		)
		VALUES
			(
				#{userId},
				#{type},
				#{rechargeTotal}
			)
	</insert>
	
	<select id="totalContinuousSign" resultType="java.lang.Boolean">
		SELECT
			count(user_recharge_id) >= 30
		FROM
			user_recharge
		WHERE
			type = 2
		AND user_id = #{userId}
		AND DATE(create_time) > DATE(DATE_SUB(NOW(), INTERVAL 30 DAY))
	</select>
</mapper>